h2 {
text-align: center;
    color:darkgreen;    
}

h1{
  font-size: 23px !important;
font-style: initial;
font-family: roboto;
    color: ivory;
}
h4{
font-style: initial;
font-family: roboto;
    color: ivory;
    
}
.box{
    margin:10px;
}

.swipebox img{ /*marco */
width: 100%;

}

.hasDatepicker > div{
  display: inline-block !important;
}

.ui-datepicker-calendar{
    background-color: white;    
}

.ui-datepicker-header {
 background-color: #FFFFEF;   
}

div.incli-izq{
  -moz-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

div.incli-der{
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}

.img-home{  
    text-align: center;
}
.home-content{
  /*background-image: url("../imgs/palmera.jpg");*/
}

.ui-grid-b img {
    margin: auto;
    width: 90%;
}

.ui-input-text .ui-mini{
width: 20% !important;
display: inline-flex !important;
}