h2 {
text-align: center;
    color:darkgreen;    
}

h1{
  font-size: 23px !important;
  font-style: initial;
  font-family: roboto;
  color: ivory;
}

h4{
    font-style: initial;
    font-family: roboto;
    color: ivory;
}

h4.titulo2{
  text-align: center;
  font-style: initial;
  font-family: roboto;
  color: #006400;
}

.box{
    margin:10px;
}

.swipebox img{ /*marco */
width: 100%;

}

.hasDatepicker > div{
  display: inline-block !important;
}

.ui-datepicker-calendar{
    background-color: white;    
}

.ui-datepicker-header {
 background-color: #FFFFEF;   
}

div.incli-izq{
  -moz-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

div.incli-der{
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}

.img-home{  
    text-align: center;
}
.home-content{
  /*background-image: url("../imgs/palmera.jpg");*/
}

.ui-grid-b img {
    margin: auto;
    width: 90%;
}

.ui-input-text .ui-mini{
  width: 20% !important;
  display: inline-flex !important;
}

.col-xs-10,.col-xs-2{
  float: left;
}
.col-xs-10 {
  width: 83.33%;
}
.col-xs-2 {
  width: 16.66%;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.ui-space-normal .ui-btn{
  white-space: normal;
}

.message-success{
  background-color: rgba(177, 243, 132, 0.6) /*{a-bup-background-color} */;
  border-color: #dddddd /*{a-bup-border}*/;
  color: #333333 /*{a-bup-color}*/;
  text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
  -webkit-border-radius: .3125em /*{global-radii-buttons}*/;
  border-radius: .3125em /*{global-radii-buttons}*/;
  font-size: 16px;
  margin: .5em 0;
  text-decoration: none;
  padding: .7em 1em;
  display: block;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  user-select: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: normal;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


div.description{
  background-color: white;
  padding: 10%;
  text-align: justify;
  margin: 1%;  
  font-family: ubuntu;
  line-height: 15pt;
  font-size: 0.8em;
}

